.app-nav li{
    cursor: pointer;
    border: 2px solid lightgrey;
    margin: 0px 2px;
    border-radius: 5px;
}
.app-nav .active-tab{
    border: 2px solid orange ;
    color: coral;
}
.app-nav  li:active{
    cursor: pointer;
    border: 2px solid orange;
    color: coral;
}
.app-nav  li:hover{
    cursor: pointer;
    border: 2px solid orange;
    color: coral;
}
@media only screen and (max-width: 768px) {

    .app-nav{
        width: 100% !important;
    }
    .app-nav li{
        width: 93% !important;
        margin: 2px 2px 2px 2px !important;
    }
    .app-nav ul{
        display: flex;
        width: 100% !important;
        flex-direction: column;
    }
}